<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h3>서버측 유효성 검사</h3>


	<!-- 화면에 진입할때 vo가 없으면 에러를 발생시키 때문에 3항 연산자로 조건을 걸어서 사용 -->
	<form action="validForm" method="post">
		이름:<input type="text"    name="name"  th:value="${vo == null ? '' : vo.name}">[[${valid_name}]]<br>
		급여:<input type="text"    name="salary"th:value="${vo == null ? '' : vo.salary}">[[${valid_salary}]]<br>
		전화번호:<input type="text" name="phone" th:value="${vo == null ? '' : vo.phone}">[[${valid_phone}]]<br>
		이메일:<input type="text"   name="email" th:value="${vo == null ? '' : vo.email}">[[${valid_email}]]<br>

		<input type="submit" value="유효성검사">
	</form>
	
	

</body>
</html>